body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #1e1e2f, #13131f, #0d0d16);
  font-family: Poppins, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding-top: 40px;
}

.main {
  width: 90%;
  max-width: 380px;
  background: rgba(255, 255, 255, 0.05);
  padding: 25px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 25px rgba(0, 255, 255, 0.3), inset 0px 0px 15px rgba(255, 255, 255, 0.05);
  animation: glowCard 4s ease-in-out infinite;
}

@keyframes glowCard {
  0% { box-shadow: 0px 0px 20px rgba(0,255,255,0.4); }
  50% { box-shadow: 0px 0px 35px rgba(0,150,255,0.7); }
  100% { box-shadow: 0px 0px 20px rgba(0,255,255,0.4); }
}


.main input,
.main select {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  font-size: 15px;
  color: #0d0a0a;
  border: none;
  border-radius: 12px;
  outline: none;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(6px);
  transition: 0.3s;
}

.main input:focus,
.main select:focus {
  transform: scale(1.04);
  box-shadow: 0px 0px 15px #00eaff;
}



button {
  width: 100%;
  padding: 12px;
  border: none;
  background: linear-gradient(135deg, #00eaff, #0077ff);
  color: white;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
  box-shadow: 0 0 10px #00c8ff;
}

button:hover {
  transform: translateY(-3px) scale(1.03);
  box-shadow: 0 0 20px #0099ff;
}


.dinymic {
  width: 90%;
  max-width: 380px;
  margin-top: 25px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 15px;
  text-align: center;
  color: white;
  backdrop-filter: blur(6px);
  box-shadow: 0px 0px 20px rgba(0,255,255,0.2);
}

.dinymic h3 {
  margin: 8px 0;
  font-weight: 400;
}


@media (max-width: 480px) {
  .main, .dinymic {
    max-width: 95%;
    padding: 20px;
  }

  button {
    font-size: 14px;
  }
}